@import url('https://fonts.cdnfonts.com/css/blomberg');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: url(/img/ban.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    box-shadow: 0 0 30px rgba(184, 182, 182, 0.784);
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/banrebg.png) no-repeat center center;
    filter: drop-shadow(5px 5px 10px rgb(43, 42, 42));
    background-size: cover;
    pointer-events: none;
    animation: bgMove 15s ease-in-out infinite;
}

@keyframes bgMove {
    0% {
        background-position: 50% 50%;
    }
    25% {
        background-position: 30% 40%;
    }
    50% {
        background-position: 40% 60%;
    }
    75% {
        background-position: 55% 45%;
    }
    100% {
        background-position: 50% 50%;
    }
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    
    
}

.title div {
    position: absolute;
    bottom: 170px;
    font-family: 'Blomberg', sans-serif;
    line-height: 1;
    font-weight: bold;
    color: #eeea79;
    overflow: hidden;
}

.glow-text {
    font-size: calc(.2526 * 80vh);
    font-weight: bold;
    color: #ecbd6e;
    text-align: center;
    text-shadow: 0 0 10px #ecbd6e, 0 0 40px #ecbd6e;
    animation: glowPulse 2s ease-in-out infinite alternate;
    white-space: nowrap; /* Prevent text from wrapping */
}

@keyframes glowPulse {
    from {
        text-shadow: 0 0 10px #ecbd6e, 0 0 40px #ecbd6e;
    }
    to {
        text-shadow: 0 0 20px #ecbd6e, 0 0 60px #ecbd6e;
    }
}

.afterglow {
    position: absolute;
    top: 100px; /* Align exactly with .glow-text */
    left: 50.5%;
    transform: translateX(-50%);
    font-family: 'Blomberg', sans-serif;
    font-size: calc(.2526 * 80vh);
    font-weight: bold;
    color: transparent; /* Make text color transparent */
    background-clip: text; /* Apply gradient to text */
    text-align: center;
    white-space: nowrap; /* Ensure the text stays in one line */
    overflow: hidden;
}

.stroked-text {
  position: relative;
  font-size: calc(.2526 * 80vh);
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* Text is invisible */
  white-space: nowrap; /* Prevent text wrapping */
  -webkit-text-stroke-width:2px ;
  -webkit-text-fill-color: transparent;
    overflow: hidden;
}






@media (max-width: 1050px){
    .bg{
        animation: bgMove 15s ease-in-out infinite;   
    }
    .stroked-text, .afterglow, .glow-text {
        font-size: calc(.2526 * 70vh);
    }
}


@media (max-width: 1000px){
    .bg{
        animation: bgMove 15s ease-in-out infinite;   
    }

    @keyframes bgMove {
        0% {
            background-position: 60% 60%;
        }
        25% {
            background-position: 40% 50%;
        }
        50% {
            background-position: 50% 70%;
        }
        75% {
            background-position: 60% 50%;
        }
        100% {
            background-position: 60% 60%;
        }
    }
}

@media (max-width: 768px){
    .bg{
        animation: bgMove 15s ease-in-out infinite;   
    }
    @keyframes bgMove {
        0% {
            background-position: 50% 50%;
        }
        50% {
            background-position: 55% 55%;
        }
        100% {
            background-position: 50% 50%;
        }
    }
    .stroked-text, .afterglow, .glow-text {
        display: none;
    }
}

@media (max-width: 600px){
    .bg{
        animation: none;
    }
    .stroked-text, .afterglow, .glow-text {
        font-size: calc(.2526 * 30vh);
    }
    
}

@media (max-width: 500px){

    .stroked-text, .afterglow, .glow-text {
        font-size: calc(.2526 * 27vh);
    }
    
}


@media (max-width: 400px){

    .stroked-text, .afterglow, .glow-text {
        display: none;

    }
}


